@keyframes ldio-lenc1v6s21e {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.87, 1.87);
  }

  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}

.ldio-lenc1v6s21e div>div {
  position: absolute;
  width: 29.96px;
  height: 29.96px;
  border-radius: 50%;
  background: #dfcf77;
  animation: ldio-lenc1v6s21e 1s linear infinite;
}

.ldio-lenc1v6s21e div:nth-child(1)>div {
  left: 161px;
  top: 92px;
  animation-delay: -0.9230769230769231s;
}

.ldio-lenc1v6s21e>div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 175.98000000000002px 106.98px;
}

.ldio-lenc1v6s21e div:nth-child(2)>div {
  left: 153px;
  top: 124px;
  animation-delay: -0.8461538461538461s;
}

.ldio-lenc1v6s21e>div:nth-child(2) {
  transform: rotate(27.692307692307693deg);
  transform-origin: 167.98000000000002px 138.98000000000002px;
}

.ldio-lenc1v6s21e div:nth-child(3)>div {
  left: 131px;
  top: 148px;
  animation-delay: -0.7692307692307693s;
}

.ldio-lenc1v6s21e>div:nth-child(3) {
  transform: rotate(55.38461538461539deg);
  transform-origin: 145.98000000000002px 162.98000000000002px;
}

.ldio-lenc1v6s21e div:nth-child(4)>div {
  left: 100px;
  top: 160px;
  animation-delay: -0.6923076923076923s;
}

.ldio-lenc1v6s21e>div:nth-child(4) {
  transform: rotate(83.07692307692308deg);
  transform-origin: 114.98px 174.98000000000002px;
}

.ldio-lenc1v6s21e div:nth-child(5)>div {
  left: 68px;
  top: 156px;
  animation-delay: -0.6153846153846154s;
}

.ldio-lenc1v6s21e>div:nth-child(5) {
  transform: rotate(110.76923076923077deg);
  transform-origin: 82.98px 170.98000000000002px;
}

.ldio-lenc1v6s21e div:nth-child(6)>div {
  left: 41px;
  top: 137px;
  animation-delay: -0.5384615384615384s;
}

.ldio-lenc1v6s21e>div:nth-child(6) {
  transform: rotate(138.46153846153845deg);
  transform-origin: 55.980000000000004px 151.98000000000002px;
}

.ldio-lenc1v6s21e div:nth-child(7)>div {
  left: 26px;
  top: 108px;
  animation-delay: -0.46153846153846156s;
}

.ldio-lenc1v6s21e>div:nth-child(7) {
  transform: rotate(166.15384615384616deg);
  transform-origin: 40.980000000000004px 122.98px;
}

.ldio-lenc1v6s21e div:nth-child(8)>div {
  left: 26px;
  top: 76px;
  animation-delay: -0.38461538461538464s;
}

.ldio-lenc1v6s21e>div:nth-child(8) {
  transform: rotate(193.84615384615384deg);
  transform-origin: 40.980000000000004px 90.98px;
}

.ldio-lenc1v6s21e div:nth-child(9)>div {
  left: 41px;
  top: 47px;
  animation-delay: -0.3076923076923077s;
}

.ldio-lenc1v6s21e>div:nth-child(9) {
  transform: rotate(221.53846153846155deg);
  transform-origin: 55.980000000000004px 61.980000000000004px;
}

.ldio-lenc1v6s21e div:nth-child(10)>div {
  left: 68px;
  top: 28px;
  animation-delay: -0.23076923076923078s;
}

.ldio-lenc1v6s21e>div:nth-child(10) {
  transform: rotate(249.23076923076923deg);
  transform-origin: 82.98px 42.980000000000004px;
}

.ldio-lenc1v6s21e div:nth-child(11)>div {
  left: 100px;
  top: 24px;
  animation-delay: -0.15384615384615385s;
}

.ldio-lenc1v6s21e>div:nth-child(11) {
  transform: rotate(276.9230769230769deg);
  transform-origin: 114.98px 38.980000000000004px;
}

.ldio-lenc1v6s21e div:nth-child(12)>div {
  left: 131px;
  top: 36px;
  animation-delay: -0.07692307692307693s;
}

.ldio-lenc1v6s21e>div:nth-child(12) {
  transform: rotate(304.61538461538464deg);
  transform-origin: 145.98000000000002px 50.980000000000004px;
}

.ldio-lenc1v6s21e div:nth-child(13)>div {
  left: 153px;
  top: 60px;
  animation-delay: 0s;
}

.ldio-lenc1v6s21e>div:nth-child(13) {
  transform: rotate(332.3076923076923deg);
  transform-origin: 167.98000000000002px 74.98px;
}

.loadingio-spinner-spin-ndgslan05n {
  width: 214px;
  height: 214px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  background: #170202;
}

.ldio-lenc1v6s21e {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-lenc1v6s21e div {
  box-sizing: content-box;
}

/* generated by https://loading.io/ */
